html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;

}
.left-col, .right-col{
  position: absolute;
  height: 100vh;
  width: 50%;
  z-index: -99999;
}
.left-col{
  background: black;
  width: 30%;
}
.right-col{
  left: 30%;
  background-size: cover;
  width: 70%;
  background: #000;
}
.right-col::after{
  content: "";
  position: absolute;
  background: url(dom-4404207_1280.jpg) no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  opacity: .7;
}
nav{
  color: #fff;
  width: 100%;
  max-width: 1170px;
  height: 130px;
  background: transparent;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  border:solid 1px rgba(255,255,255,0.3);
}
.nav-logo{
  padding-left: 30px;

}
nav h1{
  margin: 5px 0 0 0 ;
}
nav ul{
  list-style: none;
  position: absolute;
  top: 54%;
  right: 0;
  height: 50px;
  font-size: 5px;
}
nav ul li{
  float: left;
  padding: 0 50px;
  height: 50px;
  border-left:solid 1px rgba(255,255,255,0.3);
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
.clear{
  clear: both;
}
nav .icon{
  position: absolute;
  font-size: 60px;
  top: 5%;
  right: 5%;
  display: none;
}
.resize {
  list-style: none;
  position: absolute;
  top: 0%;
  right: 0;
  height: 100vh;
  width: 100%;
  font-size: 5px;
  background: black;
  z-index: 2;
  opacity: 0.9;
  display: none;
}
.resize ul{
  list-style: none;
  position: absolute;
  top: 15%;
  left: 40%;
  /* transform: translate(-50%,-50%); */
}
.resize li{
  width: 100%;
}
.resize ul li a{
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}
.icon2{
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
  font-size: 50px;
}
.active{
  display: block;
}
@media (max-width:1080px) {
  nav ul{
    display: none;
  }
  nav{
    max-width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
  }
  nav h1{
    float: left;
  }
  nav p{
    position: absolute;
    top: 33%;
    left: 21%;
    margin-left: 5px;
  }
  nav .icon{
    display: block;
  }
}
.main{
  color: #fff;
  position: absolute;
  top: 30%;
  left:5%;
}
.main h1{
  font-size: 60px;
  font-weight: 100;
  margin: 0;
}
@media screen and (max-width:900px) {
  .main{
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }
  .main h1{
    font-size: 50px;
  }
  .left-col{
    width: 100%;
  }
  .right-col::after{
    background: black;
  }
  nav{
    max-width: 700px;
    height: 100px;
    position: absolute;
    top: 0;
  }
  .nav-logo-p{
    display: none;
  }
  .sub{
    display: none;
  }

}

.sub{
  color: #666;
  position: absolute;
  top: 60%;
  left: 5%;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 13px;
}
.sub span{
  font-size: 40px;

}
.stick{
  width: 90%;
  max-width: 880px;
  color: #fff;
   top: 70%;
   left: 40%;
   background: black;
   padding-bottom: 40px;
}
.fixed{
  position: fixed;
}
.stick-bottm{
  width: 100%;

}
.stick-explain{
  width: 100%;
  max-width: 508px;
  float: left;
}
.stick-explain p{
  margin: 0;
}
.stick-explain{
  font-size: 14px;
}
.stick-agree button{
 background: none;
 padding:20px 50px;
 color: #fff;
 font-size: 15px;
 margin-left: 30px;
 clear: both;
}
.stick-container{
  margin:45px 0 0 45px;
}
.dummy{
  height: 300px;
  width: 100%;
  background: red;
  position: absolute;
  top: 100%;
  z-index: -999;
}
